body, ul, h1, h2, h3, h4, h5, h6,  {
    margin: 0;
    /* font-size: 20px; */
}

.bg-dark {
    background-color: #333;
    margin-bottom: 20px;
}

.text-white {
    color:#ffffff;
}

.p-2 {
    padding: 1.5rem;
}

.p-3 {
    margin: 0;
    padding: 1.5rem;
    font-size: 15px;
    line-height: 21px;
    color: #333;
}


.mt-2 {
    margin: 1.5rem;
   }
   
.container {
    display: block;
    max-width: 1320px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

  .navbar-nav {
      display: flex;
      flex-direction: row;
      list-style: none;
  }

  .nav-link {
      padding: 0.5rem 1rem;
      /* color: #707070; */
      color: rgba(0,0,0,0.55);
      text-decoration: none;
  }

  .nav-link.active {
      color: rgba(0,0,0,0.9);
  }

  .bg-light {
      background-color: #f3f3f3;
  }
  
  .navbar {
      height: 50px;
      display: flex;
  }

  .collapse {
     height: 100%; 
     display: flex;
     align-items: center;
  }

  .sidebar {
      width: 22%;
      display: flex;
  }

  .content {
      width: 100%;
  }

  .row {
      display: flex;
      flex-direction: row;
      /* justify-content: start; */
  }

  article {
      border: 1px solid #333;
      border-radius: 4px;
      padding: 1.5rem;
      margin-bottom: 1.5rem;
  }

  .leftimg1 {
    max-width: 250px;
    margin-right: 15px;
    float:left; 
    margin: 0 10px 10px 0; 
  }

  .leftimg2 {
    max-width: 380px;
    display: block;
    margin: 0 auto;
  }


  .post-body {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .post-meta {
      display: flex;
      font-size: 14px;
  }

  .post-meta > * {
      margin: 0;
      margin-right: 15px;  
  }

  .post-meta span {
    font-style:italic ;
  }

  .post-title, .post-author {
    color: #F8743F;
  }

  .post-title:visited, .post-author:visited{
    color:#7fff94;
  }

  .previous {
    background-color: #f1f1f1;
    color: black;
    padding: 8px 16px;
  }
  
 


  

